*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  overflow: hidden;
}

#mobileDisplay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 270px;
  height: 400px;
  border: 10px solid rgb(150, 100, 100);
  border-radius: 10px;
  overflow: hidden;
}

.set{
  width: 100%;
  position: fixed;
}

.set.hide{
  display: none;
}

.set div{
  content: '';
  float: left;
  height: 100%;
  background: #f7f7f7;
}
